<div id="txtbox">
  <form [formGroup]="searchForm" (ngSubmit)="searchLocation(searchForm)">
   <label class="form-control" for="name">Enter to search</label>
    <input type="text" class="form-control" formControlName="name" id="name"/><br/>
    <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
      <span *ngIf="name.hasError('required')">
        Please enter a keyword
      </span><br/>
    </div>
    <button class="btn btn-primary">Search</button>
  </form>
</div>

<div>
  {{weather}}
</div>